.acercade {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.acercade .grid {
  width: 80%;
  display: grid;
  grid-template-columns: 1.7fr 2fr;
  gap: clamp(20px, 3vw, 40px);
}

/* Columna 1 - fotos */
.acercade .grid .col-1 .fotos {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 20px;
}

.acercade .grid .col-1 .fotos .foto {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--shade-2);
}

.acercade .grid .col-1 .fotos .foto:nth-child(1) {
  width: 80%;
}

.acercade .grid .col-1 .fotos .foto:nth-child(2) {
  width: 40%;
  position: absolute;
  left: 0;
  bottom: -15%;
}

.acercade .grid .col-1 .fotos .dark {
  border: 1px solid var(--shade-6);
}

/* Columna 2 - texto */
.acercade .grid .col-2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
}

.acercade .grid .col-2 .pretitulo {
  color: var(--primario);
  font-size: 16px;
  font-weight: 600;

  .dark & {
    color: var(--darkxprimario);
  }
}

.acercade .grid .col-2 .titulo {
  font-size: 30px;
  gap: 5px;
}

.acercade .grid .col-2 .resumen {
  color: var(--shade-7);
  line-height: 32px;
  gap: 5px;
  text-align: left;
}

/* Espaciado general entre párrafos */
.acercade .grid .col-2 .resumen p {
  margin: 0 0 16px; /* 16px abajo entre párrafos */
}

.acercade .grid .col-2 .resumen br {
  margin-bottom: 20px;
  gap: 5px;
}

.acercade .grid .col-2 .resumen .dark {
  color: var(--shade-4);
}

/* Botón */
.acercade .grid .col-2 .boton {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

/* Responsive */
@media screen and (max-width: 576px) {
  .acercade .grid {
    grid-template-columns: 1fr;
  }

  .acercade .grid .col-1 .fotos {
    margin-bottom: 60px;
    justify-content: center;
    position: relative;
  }

  .acercade .grid .col-1 .fotos .foto:nth-child(1) {
    width: 60%;
  }

  .acercade .grid .col-1 .fotos .foto:nth-child(2) {
    width: 40%;
    left: 55%;
    bottom: -20%;
  }

  .acercade .grid .col-2 .titulo {
    text-align: center;
  }
}
