/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --shade-1: #f2f2f2;
  --shade-2: #d9d9d9;
  --shade-3: #bfbfbf;
  --shade-4: #a6a6a6;
  --shade-5: #8c8c8c;
  --shade-6: #737373;
  --shade-7: #595959;
  --shade-8: #404040;
  --shade-9: #0d0d0d;
  --shade-10: #000000;

  --primario: #0077ff;
  --primario-hover: #0365d4;
  --darkxprimario: #33ccff;
  --darkxprimario-hover: #15b3e8;
}

/* Body y modo oscuro */
body {
  font-family: 'Inter', sans-serif;
  background: var(--shade-1);
  color: var(--shade-9);
}

body.dark {
  background: var(--shade-9);
  color: var(--shade-4);
}

/* Links */
a {
  text-decoration: none;
  color: var(--shade-8);
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

body.dark a {
  color: var(--shade-4);
}

/* Contenedor general */
.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

/* Botones */
.boton {
  background: var(--primario);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 500;
  padding: 14px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s ease all;
  text-decoration: none;
}

.boton:hover {
  background: var(--primario-hover);
}

/* Modo oscuro botones */
body.dark .boton {
  background: var(--darkxprimario);
  color: #fff;
}

body.dark .boton:hover {
  background: var(--darkxprimario-hover);
}

body.dark .boton.transparente {
  color: #fff;
}

/* Secciones Clientes y Trabajos */
.clientes,
.trabajos,
.contacto,
.footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 60px 20px;
  text-align: center; /* centrado de títulos y subtítulos */
}

/* Encabezado */
.clientes .encabezado,
.trabajos .encabezado,
.contacto .encabezado,
.footer .encabezado {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  text-align: center;
}

.clientes .encabezado .titulo,
.trabajos .encabezado .titulo,
.contacto .encabezado .titulo,
.footer .encabezado .titulo {
  font-family: 'Merriweather', serif;
  color: var(--shade-8);
  font-size: 22px;
  font-weight: 700;
}

.clientes .encabezado .subtitulo,
.trabajos .encabezado .subtitulo,
.contacto .encabezado .subtitulo,
.footer .encabezado .subtitulo {
  font-size: 16px;
  color: var(--shade-6);
}

/* Dark mode encabezados */
body.dark .clientes .encabezado .titulo,
body.dark .trabajos .encabezado .titulo,
body.dark .contacto .encabezado .titulo,
body.dark .footer .encabezado .titulo {
  color: var(--shade-2);
}

body.dark .clientes .encabezado .subtitulo,
body.dark .trabajos .encabezado .subtitulo,
body.dark .contacto .encabezado .subtitulo,
body.dark .footer .encabezado .subtitulo {
  color: var(--shade-4);
}
